@import 'import/reset.scss';
@import 'import/_color.scss';
/*-- this is for typography --*/
@import 'import/typography.scss';
@import 'import/_comn.scss';
$lato : 'Lato', sans-serif;






// for gotum fonts
@font-face {
    font-family: glight;
    src: url(../font/glight.OTF);
}
@font-face {
    font-family: gr;
    src: url(../font/gr.TTF);
}
@font-face {
    font-family: gm;
    src: url(../font/gm.OTF);
}
@font-face {
    font-family: gmr;
    src: url(../font/gmr.TTF);
}
@font-face {
    font-family: gbook;
    src: url(../font/gbook.OTF);
}
@font-face {
    font-family: gbold;
    src: url(../font/gbold.TTF);
}
@font-face {
    font-family: gblack;
    src: url(../font/gblack.OTF);
}
// for gothum rounded fonts
@font-face {
    font-family: flight;
    src: url(../font/GothamRounded-Light.otf);
}
@font-face {
    font-family: fbook;
    src: url(../font/GothamRounded-Book.otf);
}
@font-face {
    font-family: fbookitalic;
    src: url(../font/GothamRounded-BookItalic.otf);
}
@font-face {
    font-family: fm;
    src: url(../font/GothamRounded-Medium.otf);
}
@font-face {
    font-family: fmitalic;
    src: url(../font/GothamRounded-MediumItalic.otf);
}
@font-face {
    font-family: fbold;
    src: url(../font/GothamRounded-Bold.otf);
}
@font-face {
    font-family: fbolditalic;
    src: url(../font/GothamRounded-BoldItalic.otf);
}











/*------------------------
main code start here 
-------------------------*/






















